<ion-content [scrollY]="false" [scrollX]="false" [fullscreen]="true">
  <app-widget-grid class="widgets-grid-container"></app-widget-grid>

  <ion-fab class="fab-menu" slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button size="small">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngIf="!environment.webVersion" (click)="close()" color="danger">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="showFullscreenButton" (click)="openFullscreen()">
        <ion-icon name="expand"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
