<div [ngStyle]="{
        'border-radius': widgetGridComponent.borderRadiusPoints + 'pt',
        'border': '2pt solid ' + borderColor,
        'padding': '2pt'
        }"
     (down)="onMouseDown($event)"
     (up)="onMouseUp($event)"
     (mouseleave)="onMouseLeave($event)"
     class="button-widget-wrapper">
    <img *ngIf="foregroundImage" [src]="foregroundImage" class="foreground" />
    <img *ngIf="iconImage" [src]="iconImage" class="icon" />
    <div [ngStyle]=backgroundStyle class="background"></div>
</div>
