.icon {
  background-image: url(^assets/icon.png);
  width: 6rem;
  height: 6rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.55;
}

ion-content {
  --background: #000;
  color: #bbb;
}
