.icon {
  background-image: url("/assets/icon.png");
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(.9);
  animation: pulseAnimation 2s ease 1s infinite normal forwards;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.9);
  }
}
