<ion-header class="scanner-hide">
  <ion-toolbar>
    <ion-title>Macro Deck</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openSettings()">Settings</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-qr-code-scanner-ui class="scanner-ui w-100 h-100"></app-qr-code-scanner-ui>

<ion-content class="scanner-hide">
  @if (usbConnectionAvailable) {
    <ion-item-divider>
      <ion-label>Wired connections</ion-label>
    </ion-item-divider>
    <ion-item button="true" (click)="connectUsb()">
      <ion-icon slot="start" class="mdi mdi-usb text-success d-flex align-items-center"></ion-icon>
      <ion-label>
        <span class="fs-5">Connect via USB</span>
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  }

  @if (usbConnectionAvailable) {
    <ion-item-divider>
      <ion-label>Wireless connections</ion-label>
    </ion-item-divider>
  }

  @if (savedConnectionsInitialized) {
    <ion-content>
      @if (savedConnectionsInitialized) {
        <ion-item-group>
          @if (savedConnections.length > 0) {
            <ion-list lines="full">
              <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder({event : $any($event)})">
                @for (connection of savedConnections; track connection) {
                  <ion-item-sliding>
                    <ion-item button="true" (click)="connect(connection)">
                      <ng-container>
                        @if (availableConnections.includes(connection.id)) {
                          <ion-icon slot="start" class="mdi mdi-wifi text-success d-flex align-items-center"></ion-icon>
                        } @else {
                          <ion-icon slot="start" class="mdi mdi-wifi-off text-danger d-flex align-items-center"></ion-icon>
                        }
                      </ng-container>
                      <ion-label>
                        <span class="d-flex gap-1 fs-5">
                          @if (connection.autoConnect) {
                            <ion-icon class="mdi text-info mdi-refresh-auto d-flex align-items-center"/>
                          }
                          {{ connection.name }}
                        </span>
                        <span class="d-flex gap-1 mt-2 fw-light">
                          @if (connection.ssl) {
                            <ion-icon aria-hidden="true"
                              title="Secure connection"
                              class="text-success"
                              name="lock-closed-outline"/>
                          }
                          {{ connection.host }}:{{ connection.port }}
                        </span>
                      </ion-label>
                      <ion-reorder slot="end"></ion-reorder>
                    </ion-item>
                    <ion-item-options side="end">
                      <ion-item-option (click)="editConnection(connection)" color="warning">
                        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                      </ion-item-option>
                      <ion-item-option (click)="deleteConnection(connection)" color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                }
              </ion-reorder-group>
            </ion-list>
          } @else {
            <div class="ion-padding d-flex flex-column">
              <span class="d-block text-center">You have set up no saved connections</span>
              <div class="justify-content-center d-flex mt-3">
                <ion-button (click)="openAddConnectionModal()" id="add-connection-button">
                  <ion-icon name="add"></ion-icon>
                  <ion-label>Add connection</ion-label>
                </ion-button>
              </div>
            </div>
          }
        </ion-item-group>
      }
      @if (savedConnections.length > 0) {
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button color="success" (click)="openAddConnectionModal()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      }
    </ion-content>
  } @else {
    <div class="ion-padding d-flex flex-column">
      <div class="justify-content-center d-flex mt-3">
        <ion-spinner></ion-spinner>
      </div>
    </div>
  }



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text class="ms-3">{{ version }} | Client Id: {{ clientId }}</ion-text>
    @if (showDonateButton()) {
      <ion-buttons class="me-2" slot="primary">
        <ion-button (click)="openDonate()" fill="solid">
          Donate
          <ion-icon slot="end" name="heart-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-footer>
