name: CI

on:
  workflow_call:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  pull_request:

jobs:
  determine-version:
    uses: ./.github/workflows/reusable-determine-version.yml

  base-build:
    needs: determine-version
    uses: ./.github/workflows/reusable-base-build.yml

  ios-build:
    needs: [determine-version, base-build]
    uses: ./.github/workflows/reusable-ios-build.yml
    with:
      version: ${{ needs.determine-version.outputs.version }}
      base-build-artifact-name: ${{ needs.base-build.outputs.artifact_name }}
